@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}

body {
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 60px;
}


.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover
{
    background-color: #03a9f4;
}
.navigation ul li :nth-child(1){
    margin-bottom: 10px;
}
.navigation ul li :nth-child(1):hover
{
    background: transparent;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display:flex;
    text-decoration: none;
    color:white
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa
{
    color: white;
    font-size: 24px;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 60px); 
    left: 60px;   

}



.main .topbar
{
    width: 100%;
    background: white;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px; 
    height: 60px;
    cursor: pointer;

}

.toggle::before
{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position:relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 30px;
}

.search label .fa
{
    position:absolute;
    left: 15px;
    top: 4px;
}

.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.cardBox .card
{
    position: relative;
    background: #ffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .numbers
{
    position: relative;
    font-size: 2em;
    font-weight: 600;
}

.cardBox .card .cardName
{
    color: #999;
}

.cardBox .card .iconBox
{
    font-size: 2.5em;
    color: #03a9f4;
}

.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr,1fr;
    padding-top: 0;
}
.details .recentOrders
{
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2
{
    font-weight: 800;
}
.btn
{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
}



img{
    width: 100px;
    height: 100px;
}