body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(100, 84, 243);
} 

.navetopo{
    margin: 10px;
    padding: 5px;
    height: 20px;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 5px;
}

h1{
    color: white;
    margin-left: 50%;
    transform: translateX(-30%);
}


.col-crm{
    margin: 10px;
    padding: 5px;
    height: 710px;
    width: 20%;
    background-color: black;
    float: left;
    border-radius: 5px;
}

.col-crm-menor{
    margin: 10px;
    padding: 5px;
    height: 340px;
    width: 20%;
    background-color: black;
    float: left;
    border-radius: 5px;
}


.col-title{
    color: white;
}

.card-client{
    padding: 5px;
    margin: 10px;
    background-color: lightgrey;
    color: darkslategrey;
    font-size: 10px;
    /* border-left: 3px solid red;*/
    border-radius: 5px;
}

/* FOOTER */
footer {
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    display: flex;
    height: 200px;
    justify-content: flex-start;
    width: 100%;
}
#contato {
    width: 50%;
}